body {
    background-color: #ddd;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.kontener {
    margin: 0 auto;
    width: 80%;
    font-family: Arial;
}

.kalendarz {
    width: 448px;
    margin: 0 auto;
}

.dzien {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    float: left;
    margin: 5px;
    
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}

.pusty {
    border: 2px solid gray;
}

.dzisiaj {
    border: 2px solid blue;
    color: blue;
}

.clear {
    clear: both;
}